<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- https://www.codeproject.com/Articles/10981/Understanding-Section-Handlers-App-config-File -->
		<section name="devopsVersions" type="System.Configuration.NameValueSectionHandler" />
		<section name="languages" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<devopsVersions>
		<add key="test" value="No database" />
		<add key="localhost" value="localhost" />
		<add key="devops" value="devops.vasvari.hu" />
	</devopsVersions>
	<languages>
		<add key="en-En" value="english" />
		<add key="hu-Hu" value="magyar" />
		<add key="fr-Fr" value="français" />
	</languages>
	<appSettings>
		<add key="appName" value="Vizsgaremek - Digitális napló" />
	</appSettings>
</configuration>